<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ToolBox"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CompassActivity"
            android:exported="false"
            android:label="@string/compass_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".CurrencyConverterActivity"
            android:exported="false"
            android:label="@string/currencyconverter_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UnitConverterActivity"
            android:exported="false"
            android:label="@string/unitconverter_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ColorPickerActivity"
            android:label="@string/colorpicker_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".CalcActivity"
            android:label="@string/calcactivity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CounterActivity"
            android:label="@string/counteractivity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".StopwatchActivity"
            android:label="@string/stopwatchactivity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TimerActivity"
            android:label="@string/timeractivity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MusicListActivity"
            android:label="@string/musiclistactivity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClockActivity"
            android:label="@string/clockactivity_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ClockMenuActivity"
            android:label="@string/clockmenu_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".QRScannerActivity"
            android:label="@string/qrscanner_title"
            android:screenOrientation="portrait" />
        <activity
            android:name=".WeatherActivity"
            android:label="@string/weather_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".TranslatorActivity"
            android:label="@string/translator_title"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity" />
        <activity android:name="com.google.android.gms.oss.licenses.OssLicensesActivity" />
    </application>

</manifest>